/* look around on https://fonts.google.com to find other typefaces… */
@import url("https://use.typekit.net/kry8cxw.css");



/* http://meyerweb.com/eric/tools/css/reset/ v2.0 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0; }
/* end reset */



/* use the sensible version of the box model */

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/*resizing for mobile */
@media (max-width: 600px) { 
  header .intro
  {
  margin-top:2em;
  font-family: roboto-mono, monospace;
  font-style: normal;
  align-content: center;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 400;
  text-align: center; 
  min-height: 400px;
  vertical-align: middle;}

  main{
 width: 100%;
 height: 50%;
  margin:4em auto;
position: absolute;
   /* top: 50%;*/
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .container {
  background-color: red;
  grid-template-areas: 
  "header"
  "text"
  "sidebar" 
  "svg";}
}


.container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 25% auto auto;
  grid-template-areas: 
  "header header"
  "sidebar text"
  "sidebar svg";

}

.item-a {
  grid-area: header;
}

.item-b {
 grid-area: text;
}

.item-c {
 grid-area: svg;
}


/* set default font for body text */

body {
  font-family: acumin-pro, sans-serif;
  font-size:17px;
  font-weight: 500;
  line-height:1.38em;
   background:  #ccffff;
font-style: normal;
color: #000099;
}



/* headline typography */

h1, h2, h3{
  
font-family: acumin-pro-wide, sans-serif;
font-style: normal;
font-weight: 800;
color: #000099;
}
h1{ font-size:65px;  letter-spacing: -2.75px; padding-bottom: 2px; padding-top: 50px; line-height:.8em; 
}
h2{ font-size:34px; padding-top: 40px; padding-left: 20px; line-height: 1.2em;}
h3{ font-size:9px; text-transform: uppercase; color:#000099; letter-spacing: 1px; text-align: center;}



/* spacing & borders at the top and bottom of the page */

main{
 width: 100%;
 height: 50%;
  margin:4em auto;
position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);

  }

header{
  padding-bottom:2em;
  text-align: center; 
  vertical-align: middle;



}

header .intro{
  margin-top:2em;
  font-family: roboto-mono, monospace;
  font-style: normal;
  align-content: center;
  padding-left: 200px;
  padding-right: 200px;
  font-weight: 400;
  text-align: center; 
  min-height: 400px;
  vertical-align: middle;

}

article {
  /*border-bottom:2px solid black;*/
  padding-bottom:5em;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 10vh;
  
}
#firstarticle {
  background: #ffffff;
}

#secondarticle {
 background:#fcf1e0;;


}


h1{
/*  border-top:2px solid black;
*/}

p{
  margin-bottom:1em;
  max-width:900px;
  padding-top: 20px;
  letter-spacing: .5px;
  text-align: center;

}



/* simple two-column layout within each 'argument' subsection */

article section.argument{
  display: flex;  /* delete this line to disable the multi-column layout */
  margin-top:0em;
  margin-bottom:0em;
  min-height: 5vh;
  align-content: center; 
  text-align: left;
  max-width: 650px;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 400;  
  font-size: 20px;
}

article .argument .graphic{
  margin-right:1em;  /* add some horizontal breathing room b/t the image and the text */
  align-content: center; 
  padding-left: 20px;

}

article .argument .text{
 /* customize the typography for the descriptive text */
  font-style:italic;
}

