/* look around on https://fonts.google.com to find other typefaces… */
@import url('https://fonts.googleapis.com/css?family=Alegreya');



/* http://meyerweb.com/eric/tools/css/reset/ v2.0 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0; }
/* end reset */



/* use the sensible version of the box model */

:root { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }



/* typography */

body {
  font-family:"Alegreya", serif;
  font-size:18px;
  line-height:1.3em;
}

h1, h2, h3{
  font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight:bold;
  line-height:1.3em;
}
h1{ font-size:36px; }
h2{ font-size:24px; }
h3{ font-size:21px; }



/* spacing & borders at the top and bottom of the page */

main{
  max-width:10000px;
  margin:0 auto;  /* this will horizontally center the content on the page */
  padding:4em 1em;
}

header{
  padding-bottom:2em;
  border-top:2px solid black;
}

header .intro{
  margin-top:2em;
}

article{
  border-bottom:2px solid black;
}

article section{
  margin-top:1em;
  margin-bottom:2em;
}


article subsection{
  margin-top:1em;
  margin-bottom:2em;
}

p{
  margin-bottom:1em;
  max-width:660px;
}



/* simple two-column layout within each 'argument' subsection */

article .argument-col{
  display: flex;  /* delete this line to disable the multi-column layout (see also: https://yoksel.github.io/flex-cheatsheet) */
  flex-direction: column;
}

article .argument-col .graphic{
  margin-right:1em;  /* add some horizontal breathing room b/t the image and the text */
}

article .argument-col .text{
  font-style:italic;  /* customize the typography for the descriptive text */
}

article .argument-col .table{
  font-style:italic;  /* customize the typography for the descriptive text */
}

article .argument-row{
  display: flex;  /* delete this line to disable the multi-column layout (see also: https://yoksel.github.io/flex-cheatsheet) */
}

article .argument-row .graphic{
  margin-right:1em;  /* add some horizontal breathing room b/t the image and the text */
}

article .argument-row .text{
  font-style:italic;  /* customize the typography for the descriptive text */
}

article .argument-row .table{
  font-style:italic;  /* customize the typography for the descriptive text */
}

article .argument-row .table .td{
  font-style:italic;  /* customize the typography for the descriptive text */
}


/* use indentation rather than skipping a line to separate grafs in the 'conclusions' section */

article .discussion p{
  margin:0;
  text-indent:2em;
}

article .discussion p:first-child{
  text-indent:0;
}



/* basic color scheme */

body {
  background:white;
}

main{
  background:white;
}

article .argument{
  color:#444;
}

article h3{
  color:#c30;
}

article table, th, td{
  padding: 5px;
  text-align: center;
}


/* turn off the flex layout when the viewport is narrower than the container */

@media (max-width: 1000px) {
  article .argument{
    display:block;
  }
}
